@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
};
@plugin "daisyui/theme" {
  name: 'light';
  color-scheme: light;

  --color-primary: oklch(0.77 0.16 58.07);
  --color-secondary: oklch(0.36 0.05 162.48);
}

@layer base {
  html,
  body {
    background-color: #f3f7f0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #app {
    background-color: #f3f7f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* Change 'white' to your desired color */
    box-shadow: 0 0 0px 1000px white inset !important; /* For other browsers if needed */
    -webkit-text-fill-color: black !important; /* Optional: Adjust text color */
    color: black !important; /* Optional: Adjust text color */
  }

  #page {
    background-color: #f3f7f0;
  }
}

@layer utilities {
  .hero-overlay {
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--color-neutral) 40%, transparent);
    }
  }
}

@theme {
  --animate-fade-content: fadeContent 0.6s ease-in;

  @keyframes fadeContent {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
}
