<footer
  class="footer sm:footer-horizontal footer-center bg-[#222] text-[#666] p-4 lg-up:p-0"
>
  <aside>
    <div class="flex max-sm:flex-col max-sm:gap-y-1 sm:gap-x-2">
      <span>Copyright © {new Date().getFullYear()} WJ Lawn Services LLC.</span>
      <span>All right reserved.</span>
    </div>
  </aside>
</footer>
