---
import "../../styles/global.css";
---

<div
  class="navbar shadow-sm !px-4 lg-up:!px-0 bg-[#f3f7f0]/75 backdrop-blur sticky top-0 z-50"
>
  <div class="w-full mx-auto max-w-screen-lg flex justify-between">
    <div class="navbar-start">
      <a
        class="btn btn-link no-underline text-2xl text-base-content p-0 inline-block h-full"
      >
        <img
          src="/images/wj-logo-2.png"
          alt="WJ Lawn Services Logo"
          class="aspect-video max-w-[125px]"
        />
      </a>
    </div>
    <div class="navbar-end">
      <a href="tel:908-692-8717" class="btn btn-primary btn-lg gap-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 fill-current"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M6.62 10.79c1.44 2.83 3.76 5.15 6.59 6.59l2.2-2.2c.28-.28.67-.36 1.02-.25c1.12.37 2.32.57 3.57.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1A17 17 0 0 1 3 4a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"
          ></path></svg
        >

        Call Now
      </a>
    </div>
  </div>
</div>
