<div class="navbar bg-base-100 shadow-sm !px-4 lg-up:!px-0 relative">
  <div class="w-full mx-auto max-w-screen-lg flex justify-between">
    <div class="navbar-start">
      <a class="btn btn-link no-underline text-xl">Logo</a>
    </div>
    <div class="navbar-end">
      <a class="btn">Button</a>
    </div>
  </div>
</div>
