---
interface Props {
  full?: boolean;
}

const { full = false } = Astro.props;
---

<div
  id="page"
  class:list={[
    "relative flex flex-1 flex-col",
    { "w-full": full, "lg-up:px-0 px-4": !full },
  ]}
>
  <div
    class:list={[
      "flex w-full flex-1 flex-col",
      { "mx-auto my-8 max-w-5xl": !full },
    ]}
    class=""
  >
    <slot />
  </div>
</div>
