---
interface Props {
  full?: boolean;
}

const { full = false } = Astro.props;
---

<div
  id="page"
  class:list={[
    "relative flex flex-col flex-1",
    { "w-full": full, "px-4 lg-up:px-0": !full },
  ]}
>
  <div
    class:list={[
      "flex flex-col flex-1 w-full",
      { "mx-auto max-w-screen-lg my-8": !full },
    ]}
    class=""
  >
    <slot />
  </div>
</div>
