---
import Layout from "@/layouts/Layout.astro";
import HomeHero from "@/components/home/HomeHero.astro";
import HomeHeroFooter from "@/components/home/HomeHeroFooter.astro";
---

<Layout full title="Page Title">
  <HomeHero />
  <div class="h-[500px]"></div>
  <HomeHeroFooter />
</Layout>
