---

---

<div
  class="hero bg-cover lg:bg-contain bg-[center_bottom_0px] min-h-[60px]"
  style="background-image: url(/images/blades-2.png);"
>
</div>

<div
  class="hero lg:bg-auto min-h-[400px] bg-[35%] sm:bg-left"
  style="background-image: linear-gradient(180deg,#244435 0%,rgba(36,68,53,0.44) 100%),url(/images/hero-footer.webp);"
>
  <div class="hero-content flex-col md:flex-row max-w-screen-lg w-full gap-8">
    <div class="w-full">
      <img
        src="/images/wj-logo-dark.png"
        class="max-w-sm rounded-lg shadow-2xl aspect-video w-full mx-auto"
      />
    </div>
    <div class="flex flex-col gap-y-2 w-full max-w-fit">
      <div class="flex items-center gap-2 mt-4 text-neutral-content">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="w-6 h-6 fill-current"
          ><path
            fill="none"
            stroke="currentColor"
            stroke-dasharray="64"
            stroke-dashoffset="64"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 3c0.5 0 2.5 4.5 2.5 5c0 1 -1.5 2 -2 3c-0.5 1 0.5 2 1.5 3c0.39 0.39 2 2 3 1.5c1 -0.5 2 -2 3 -2c0.5 0 5 2 5 2.5c0 2 -1.5 3.5 -3 4c-1.5 0.5 -2.5 0.5 -4.5 0c-2 -0.5 -3.5 -1 -6 -3.5c-2.5 -2.5 -3 -4 -3.5 -6c-0.5 -2 -0.5 -3 0 -4.5c0.5 -1.5 2 -3 4 -3Z"
            ><animate
              fill="freeze"
              attributeName="stroke-dashoffset"
              dur="0.6s"
              values="64;0"></animate></path
          ></svg
        >
        <div class="text-sm uppercase font-semibold">
          Call Or Text For a Free Quote
        </div>
      </div>

      <a
        href="tel:908-692-8717"
        class="text-4xl md:text-5xl font-bold text-primary w-full"
      >
        (908) 692-8717
      </a>

      <div class="flex items-center gap-2 mt-4 text-neutral-content">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="w-6 h-6 fill-current"
          ><path
            fill="currentColor"
            d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"
          ></path></svg
        >
        <div class="text-sm uppercase font-semibold">Email</div>
      </div>

      <div>
        <a
          href="mailto:WJLawnServices@gmail.com"
          title="WJLawnServices@gmail.com"
          class="text-xl md:text-3xl font-bold text-primary w-full"
        >
          WJLawnServices@gmail.com
        </a>
      </div>
    </div>
  </div>
</div>
