---

---

<div
  class="hero bg-cover lg:bg-contain bg-[center_bottom_0px] min-h-[60px]"
  style="background-image: url(/src/assets/images/blades-2.png);"
>
</div>

<div
  class="hero lg:bg-auto min-h-[400px] bg-[35%] sm:bg-left"
  style="background-image: linear-gradient(180deg,#244435 0%,rgba(36,68,53,0.44) 100%),url(/src/assets/images/hero-footer-3.png);"
>
  <div class="hero-content flex-col lg:flex-row max-w-screen-lg w-full">
    <div class="w-full"></div>
    <div class="flex flex-col gap-y-2 w-full">
      <div class="text-sm uppercase font-semibold text-neutral-content">
        Call Or Text For a Free Quote
      </div>
      <a
        href="tel:908-692-8717"
        class="text-4xl md:text-5xl font-bold text-primary w-full"
      >
        (908) 692-8717
      </a>
    </div>
  </div>
</div>
