<div
  class="relative hero bg-center min-h-[325px]"
  style="background-image: url(/images/mow-lawn.jpg);"
>
  <div class="hero-overlay backdrop-blur-sm"></div>
  <div
    class="hero-content flex-col text-neutral-content w-full max-w-xl md:max-w-5xl py-0"
  >
    <div class="w-full">
      <h1 class="mb-5 text-4xl md:text-5xl font-bold">Why Choose Us</h1>

      <div
        class="max-w-2xl flex flex-col gap-y-5 text-xs sm:text-sm text-neutral-300"
      >
        <p>
          Transform your outdoor space with professional service and attention
          to detail With years of experience serving both residential and
          commercial properties, WJ Lawn Services delivers exceptional results
          that exceed expectations.
        </p>

        <p>
          Our dedicated team combines expert knowledge with a genuine passion
          for creating and maintaining beautiful outdoor spaces. We pride
          ourselves on reliability, quality workmanship, and personalized
          service tailored to your property's unique needs.
        </p>
      </div>
    </div>
  </div>
</div>
