---
import { Image } from "astro:assets";
import mowLawnImg from "@/assets/images/mow-lawn.jpg";
---

<div class="relative hero min-h-81.25 bg-center">
  <Image
    src={mowLawnImg}
    alt="Mowing lawn"
    class="absolute inset-0 h-full w-full object-cover"
  />
  <div class="z-10 hero-overlay backdrop-blur-sm"></div>
  <div
    class="hero-content z-20 w-full max-w-xl flex-col py-0 text-neutral-content md:max-w-5xl"
  >
    <div class="w-full">
      <h1 class="mb-5 text-4xl font-bold md:text-5xl">Why Choose Us</h1>

      <div
        class="flex max-w-2xl flex-col gap-y-5 text-xs text-neutral-300 sm:text-sm"
      >
        <p>
          Transform your outdoor space with professional service and attention
          to detail With years of experience serving both residential and
          commercial properties, WJ Lawn Services delivers exceptional results
          that exceed expectations.
        </p>

        <p>
          Our dedicated team combines expert knowledge with a genuine passion
          for creating and maintaining beautiful outdoor spaces. We pride
          ourselves on reliability, quality workmanship, and personalized
          service tailored to your property's unique needs.
        </p>
      </div>
    </div>
  </div>
</div>
