<div class="mx-auto my-16 w-full max-w-5xl px-4 lg:px-0">
  <div class="flex gap-x-2">
    <div class="mb-8 text-5xl font-semibold">Our Work</div>
    <div class="tooltip">
      <div class="tooltip-content">
        Drag to compare before <br />and after images.
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="h-5 w-5 fill-current"
      >
        <path
          fill="currentColor"
          d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8"
        ></path>
      </svg>
    </div>
  </div>

  <div class="grid w-full gap-8 sm:grid-cols-2">
    <figure class="diff aspect-16/9 rounded shadow" tabindex="0">
      <div class="diff-item-1" role="img" tabindex="0">
        <img alt="Before" class="aspect-video" src="/images/before-3.jpg" />
      </div>
      <div class="diff-item-2" role="img">
        <img alt="After" src="/images/after-1.jpg" />
      </div>
      <div class="diff-resizer">hello</div>
    </figure>

    <figure class="diff aspect-16/9 rounded shadow" tabindex="0">
      <div class="diff-item-1" role="img" tabindex="0">
        <img alt="Before" src="/images/before-2.jpg" />
      </div>
      <div class="diff-item-2" role="img">
        <img alt="After" src="/images/after-2.jpg" />
      </div>
      <div class="diff-resizer"></div>
    </figure>

    <figure class="diff aspect-16/9 rounded shadow" tabindex="0">
      <div class="diff-item-1" role="img" tabindex="0">
        <img alt="Before" src="/images/before-1.jpg" />
      </div>
      <div class="diff-item-2" role="img">
        <img alt="After" src="/images/after-3.jpg" />
      </div>
      <div class="diff-resizer"></div>
    </figure>
  </div>
</div>
